@import url(../font/fontstyle.css);
@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, p, div, a, img {
	margin:0;
	padding:0;
}
body {
	background: #503e95;
	font-family:"encode_sans_narrowregular";
}
a {
	text-decoration:none;
}
a:link {
	color:#fff;
}
a:hover {
	color:#7160aa;
}
a:visitewn {
	color:#fff;
}
a:active {
	color:#fff;
}
html {
}
img#bg {
	position:fixed;
	top:0;
	left:0;
	width:100%;
}
#content {
	position:relative;
	z-index:1;
}
#wrapper {
/*background-position: center;
	text-align: center;	*/
}
.bg {
	position:absolute;
	width: 100%;
	z-index: 1;
}
h1 {
	font-size:36px;
	padding-top:10px;
	color:#fff;
}
h2 {
	font-size:30px;
	margin:0;
	color:#fff;
}
h3 {
	font-size:40px;
	font-family:"Foobar Pro";
	/*color:#f6fb47;*/
		color:#fff;
}
h4 {
	font-size:30px;
	/*color:#f6fb47;*/
		color:#503e95;
}
.top_main {
	height:100%;
	margin:0;
	padding:0;
   
}
.top_left {
	font-size:36px;
	color:#fff;
	float:left;
	width:70%;
	margin-top:28%;
	margin-bottom:4%;
}
.msg_btn {
    font-size: 1.4vw;
    float:left;
    color:#d32a27;
    padding:15px 0 0 0;
}
.mobile {
float: left;
font-size: 1.4vw;
color: #503e95;
width: 80%;
}.mobile_input {
font-size: 1.4vw;
color: #503e95;
padding: 2px 2px;
font-family: "encode_sans_narrowregular";
width: 80%;
margin: 6px 0 16px 0
}
.ic_sty {
	float: right;
	margin: 2% 2% 0px 0px;
	color:#503e95;
}
.top_right {
	width:22%;
		margin-top:15%;
	float:left;
	margin-left:4%;
    height:350px;
}
.download {
	float:left;
	width: 90%;
}
.download_btn {
	font-size: 1.4vw;
	float:left;
}
.social_btn {
	font-size: 1.4vw;
	float:left;
	clear:left;
	padding-top:140px;
}
.download_btn a {
	background:#503e95;
	padding:5px 10px;
}
.logo {
	float:left;
	margin: 2% 0 0 2%;
}
.footer {
	font-size:20px;
	width:100%;
	color:#fff;
	float:left;
	margin-top:17%;
	margin-bottom:5%;
}
.foot_left {
	float:left;
}
.foot_right {
	float:left;
	text-align:center;
}
.misscall {
	float:right;
	margin: 4% 2% 0px 0px;
	font-size: 1.7vw;
}
.misscall a{ color:#fff}

/* Video and Download Buttons */
.download-btn {
	padding-top:10px;
	padding-bottom:5px;
}
.btnspace {
	margin-right:10px;
	margin-bottom:10px;
}
panel-title2 {
	 margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.rowvid{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	background-color:#dadee1;
	padding:30px;
}