@charset "utf-8";
/* CSS Document */

/*!
 * Social Buttons for Twitter Bootstrap v1.0.0
 *
 * Copyright 2013 Adam Neumann
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 */

.btn-facebook {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783;
  *background-color: #102e6d;
}

.btn-facebook:active,
.btn-facebook.active {
  background-color: #0d2456 \9;
}

.btn-twitter {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1c95d0;
  *background-color: #0271bf;
  background-image: -moz-linear-gradient(top, #2daddc, #0271bf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2daddc), to(#0271bf));
  background-image: -webkit-linear-gradient(top, #2daddc, #0271bf);
  background-image: -o-linear-gradient(top, #2daddc, #0271bf);
  background-image: linear-gradient(to bottom, #2daddc, #0271bf);
  background-repeat: repeat-x;
  border-color: #0271bf #0271bf #014473;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2daddc', endColorstr='#ff0271bf', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.btn-twitter.disabled,
.btn-twitter[disabled] {
  color: #ffffff;
  background-color: #0271bf;
  *background-color: #0262a6;
}

.btn-twitter:active,
.btn-twitter.active {
  background-color: #01538d \9;
}

.btn-github {
  color: #000000;
  text-shadow: 0 0.7px 0 rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #fafafa, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fafafa, #e6e6e6);
  background-image: -o-linear-gradient(top, #fafafa, #e6e6e6);
  background-image: linear-gradient(to bottom, #fafafa, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #c0c0c0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active,
.btn-github.disabled,
.btn-github[disabled] {
  color: #000000;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn-github:active,
.btn-github.active {
  background-color: #cdcdcd \9;
}

.btn-pinterest {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #c51e25;
  *background-color: #ab171e;
  background-image: -moz-linear-gradient(top, #d62229, #ab171e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d62229), to(#ab171e));
  background-image: -webkit-linear-gradient(top, #d62229, #ab171e);
  background-image: -o-linear-gradient(top, #d62229, #ab171e);
  background-image: linear-gradient(to bottom, #d62229, #ab171e);
  background-repeat: repeat-x;
  border-color: #ab171e #ab171e #680e12;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd62229', endColorstr='#ffab171e', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-pinterest:hover,
.btn-pinterest:focus,
.btn-pinterest:active,
.btn-pinterest.active,
.btn-pinterest.disabled,
.btn-pinterest[disabled] {
  color: #ffffff;
  background-color: #ab171e;
  *background-color: #95141a;
}

.btn-pinterest:active,
.btn-pinterest.active {
  background-color: #7e1116 \9;
}

.btn-linkedin {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #60a9ce;
  *background-color: #4393bb;
  background-image: -moz-linear-gradient(top, #73b8db, #4393bb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73b8db), to(#4393bb));
  background-image: -webkit-linear-gradient(top, #73b8db, #4393bb);
  background-image: -o-linear-gradient(top, #73b8db, #4393bb);
  background-image: linear-gradient(to bottom, #73b8db, #4393bb);
  background-repeat: repeat-x;
  border-color: #4393bb #4393bb #2f6783;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff73b8db', endColorstr='#ff4393bb', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active,
.btn-linkedin.disabled,
.btn-linkedin[disabled] {
  color: #ffffff;
  background-color: #4393bb;
  *background-color: #3c84a8;
}

.btn-linkedin:active,
.btn-linkedin.active {
  background-color: #367595 \9;
}

.btn-google-plus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #d34332;
  *background-color: #c53727;
  background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#c53727));
  background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
  background-image: -o-linear-gradient(top, #dd4b39, #c53727);
  background-image: linear-gradient(to bottom, #dd4b39, #c53727);
  background-repeat: repeat-x;
  border-color: #c53727 #c53727 #85251a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4b39', endColorstr='#ffc53727', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-google-plus:hover,
.btn-google-plus:focus,
.btn-google-plus:active,
.btn-google-plus.active,
.btn-google-plus.disabled,
.btn-google-plus[disabled] {
  color: #ffffff;
  background-color: #c53727;
  *background-color: #b03123;
}

.btn-google-plus:active,
.btn-google-plus.active {
  background-color: #9a2b1f \9;
}

.btn-instagram {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5c88ab;
  *background-color: #3f729b;
  background-image: -moz-linear-gradient(top, #6f97b6, #3f729b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6f97b6), to(#3f729b));
  background-image: -webkit-linear-gradient(top, #6f97b6, #3f729b);
  background-image: -o-linear-gradient(top, #6f97b6, #3f729b);
  background-image: linear-gradient(to bottom, #6f97b6, #3f729b);
  background-repeat: repeat-x;
  border-color: #3f729b #3f729b #294a65;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6f97b6', endColorstr='#ff3f729b', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active,
.btn-instagram.active,
.btn-instagram.disabled,
.btn-instagram[disabled] {
  color: #ffffff;
  background-color: #3f729b;
  *background-color: #386589;
}

.btn-instagram:active,
.btn-instagram.active {
  background-color: #305777 \9;
}

.btn-dropbox {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2e95e0;
  *background-color: #2181cf;
  background-image: -moz-linear-gradient(top, #37a3eb, #2181cf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#37a3eb), to(#2181cf));
  background-image: -webkit-linear-gradient(top, #37a3eb, #2181cf);
  background-image: -o-linear-gradient(top, #37a3eb, #2181cf);
  background-image: linear-gradient(to bottom, #37a3eb, #2181cf);
  background-repeat: repeat-x;
  border-color: #2181cf #2181cf #16588d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff37a3eb', endColorstr='#ff2181cf', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-dropbox:hover,
.btn-dropbox:focus,
.btn-dropbox:active,
.btn-dropbox.active,
.btn-dropbox.disabled,
.btn-dropbox[disabled] {
  color: #ffffff;
  background-color: #2181cf;
  *background-color: #1d73b9;
}

.btn-dropbox:active,
.btn-dropbox.active {
  background-color: #1a66a3 \9;
}

.btn-bitbucket {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #285991;
  *background-color: #205081;
  background-image: -moz-linear-gradient(top, #2d5f9c, #205081);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d5f9c), to(#205081));
  background-image: -webkit-linear-gradient(top, #2d5f9c, #205081);
  background-image: -o-linear-gradient(top, #2d5f9c, #205081);
  background-image: linear-gradient(to bottom, #2d5f9c, #205081);
  background-repeat: repeat-x;
  border-color: #205081 #205081 #112a44;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2d5f9c', endColorstr='#ff205081', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-bitbucket:hover,
.btn-bitbucket:focus,
.btn-bitbucket:active,
.btn-bitbucket.active,
.btn-bitbucket.disabled,
.btn-bitbucket[disabled] {
  color: #ffffff;
  background-color: #205081;
  *background-color: #1b436d;
}

.btn-bitbucket:active,
.btn-bitbucket.active {
  background-color: #163758 \9;
}

.btn-dribbble {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #de447f;
  *background-color: #cb396f;
  background-image: -moz-linear-gradient(top, #ea4c89, #cb396f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ea4c89), to(#cb396f));
  background-image: -webkit-linear-gradient(top, #ea4c89, #cb396f);
  background-image: -o-linear-gradient(top, #ea4c89, #cb396f);
  background-image: linear-gradient(to bottom, #ea4c89, #cb396f);
  background-repeat: repeat-x;
  border-color: #cb396f #cb396f #91264e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea4c89', endColorstr='#ffcb396f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-dribbble:hover,
.btn-dribbble:focus,
.btn-dribbble:active,
.btn-dribbble.active,
.btn-dribbble.disabled,
.btn-dribbble[disabled] {
  color: #ffffff;
  background-color: #cb396f;
  *background-color: #ba3163;
}

.btn-dribbble:active,
.btn-dribbble.active {
  background-color: #a62b59 \9;
}

.btn-flickr {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f63198;
  *background-color: #ff0084;
  background-image: -moz-linear-gradient(top, #f051a5, #ff0084);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f051a5), to(#ff0084));
  background-image: -webkit-linear-gradient(top, #f051a5, #ff0084);
  background-image: -o-linear-gradient(top, #f051a5, #ff0084);
  background-image: linear-gradient(to bottom, #f051a5, #ff0084);
  background-repeat: repeat-x;
  border-color: #ff0084 #ff0084 #b3005c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff051a5', endColorstr='#ffff0084', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-flickr:hover,
.btn-flickr:focus,
.btn-flickr:active,
.btn-flickr.active,
.btn-flickr.disabled,
.btn-flickr[disabled] {
  color: #ffffff;
  background-color: #ff0084;
  *background-color: #e60077;
}

.btn-flickr:active,
.btn-flickr.active {
  background-color: #cc006a \9;
}

.btn-foursquare {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #079dcd;
  *background-color: #0072b1;
  background-image: -moz-linear-gradient(top, #0cbadf, #0072b1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0cbadf), to(#0072b1));
  background-image: -webkit-linear-gradient(top, #0cbadf, #0072b1);
  background-image: -o-linear-gradient(top, #0cbadf, #0072b1);
  background-image: linear-gradient(to bottom, #0cbadf, #0072b1);
  background-repeat: repeat-x;
  border-color: #0072b1 #0072b1 #004165;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0cbadf', endColorstr='#ff0072b1', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-foursquare:hover,
.btn-foursquare:focus,
.btn-foursquare:active,
.btn-foursquare.active,
.btn-foursquare.disabled,
.btn-foursquare[disabled] {
  color: #ffffff;
  background-color: #0072b1;
  *background-color: #006298;
}

.btn-foursquare:active,
.btn-foursquare.active {
  background-color: #00517e \9;
}

.btn-renren {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3773ab;
  *background-color: #33669a;
  background-image: -moz-linear-gradient(top, #397cb6, #33669a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#397cb6), to(#33669a));
  background-image: -webkit-linear-gradient(top, #397cb6, #33669a);
  background-image: -o-linear-gradient(top, #397cb6, #33669a);
  background-image: linear-gradient(to bottom, #397cb6, #33669a);
  background-repeat: repeat-x;
  border-color: #33669a #33669a #204061;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff397cb6', endColorstr='#ff33669a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-renren:hover,
.btn-renren:focus,
.btn-renren:active,
.btn-renren.active,
.btn-renren.disabled,
.btn-renren[disabled] {
  color: #ffffff;
  background-color: #33669a;
  *background-color: #2d5987;
}

.btn-renren:active,
.btn-renren.active {
  background-color: #264d74 \9;
}

.btn-skype {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #43bbe8;
  *background-color: #00aff0;
  background-image: -moz-linear-gradient(top, #70c3e2, #00aff0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70c3e2), to(#00aff0));
  background-image: -webkit-linear-gradient(top, #70c3e2, #00aff0);
  background-image: -o-linear-gradient(top, #70c3e2, #00aff0);
  background-image: linear-gradient(to bottom, #70c3e2, #00aff0);
  background-repeat: repeat-x;
  border-color: #00aff0 #00aff0 #0077a3;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff70c3e2', endColorstr='#ff00aff0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-skype:hover,
.btn-skype:focus,
.btn-skype:active,
.btn-skype.active,
.btn-skype.disabled,
.btn-skype[disabled] {
  color: #ffffff;
  background-color: #00aff0;
  *background-color: #009cd7;
}

.btn-skype:active,
.btn-skype.active {
  background-color: #008abd \9;
}

.btn-stackexchange {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3a70b0;
  *background-color: #185397;
  background-image: -moz-linear-gradient(top, #5184c1, #185397);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5184c1), to(#185397));
  background-image: -webkit-linear-gradient(top, #5184c1, #185397);
  background-image: -o-linear-gradient(top, #5184c1, #185397);
  background-image: linear-gradient(to bottom, #5184c1, #185397);
  background-repeat: repeat-x;
  border-color: #185397 #185397 #0e2f55;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5184c1', endColorstr='#ff185397', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-stackexchange:hover,
.btn-stackexchange:focus,
.btn-stackexchange:active,
.btn-stackexchange.active,
.btn-stackexchange.disabled,
.btn-stackexchange[disabled] {
  color: #ffffff;
  background-color: #185397;
  *background-color: #154781;
}

.btn-stackexchange:active,
.btn-stackexchange.active {
  background-color: #113b6b \9;
}

.btn-trello {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #438ab4;
  *background-color: #27709b;
  background-image: -moz-linear-gradient(top, #569cc4, #27709b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#569cc4), to(#27709b));
  background-image: -webkit-linear-gradient(top, #569cc4, #27709b);
  background-image: -o-linear-gradient(top, #569cc4, #27709b);
  background-image: linear-gradient(to bottom, #569cc4, #27709b);
  background-repeat: repeat-x;
  border-color: #27709b #27709b #18445e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff569cc4', endColorstr='#ff27709b', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-trello:hover,
.btn-trello:focus,
.btn-trello:active,
.btn-trello.active,
.btn-trello.disabled,
.btn-trello[disabled] {
  color: #ffffff;
  background-color: #27709b;
  *background-color: #226187;
}

.btn-trello:active,
.btn-trello.active {
  background-color: #1d5372 \9;
}

.btn-tumblr {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #34526e;
  *background-color: #2a4763;
  background-image: -moz-linear-gradient(top, #3a5976, #2a4763);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3a5976), to(#2a4763));
  background-image: -webkit-linear-gradient(top, #3a5976, #2a4763);
  background-image: -o-linear-gradient(top, #3a5976, #2a4763);
  background-image: linear-gradient(to bottom, #3a5976, #2a4763);
  background-repeat: repeat-x;
  border-color: #2a4763 #2a4763 #13202d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3a5976', endColorstr='#ff2a4763', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-tumblr:hover,
.btn-tumblr:focus,
.btn-tumblr:active,
.btn-tumblr.active,
.btn-tumblr.disabled,
.btn-tumblr[disabled] {
  color: #ffffff;
  background-color: #2a4763;
  *background-color: #223a51;
}

.btn-tumblr:active,
.btn-tumblr.active {
  background-color: #1b2d3f \9;
}

.btn-vk {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #50739a;
  *background-color: #426187;
  background-image: -moz-linear-gradient(top, #5a7fa6, #426187);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a7fa6), to(#426187));
  background-image: -webkit-linear-gradient(top, #5a7fa6, #426187);
  background-image: -o-linear-gradient(top, #5a7fa6, #426187);
  background-image: linear-gradient(to bottom, #5a7fa6, #426187);
  background-repeat: repeat-x;
  border-color: #426187 #426187 #293c54;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5a7fa6', endColorstr='#ff426187', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-vk:hover,
.btn-vk:focus,
.btn-vk:active,
.btn-vk.active,
.btn-vk.disabled,
.btn-vk[disabled] {
  color: #ffffff;
  background-color: #426187;
  *background-color: #3a5576;
}

.btn-vk:active,
.btn-vk.active {
  background-color: #314865 \9;
}

.btn-weibo {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f14f4f;
  *background-color: #e64141;
  background-image: -moz-linear-gradient(top, #f85959, #e64141);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f85959), to(#e64141));
  background-image: -webkit-linear-gradient(top, #f85959, #e64141);
  background-image: -o-linear-gradient(top, #f85959, #e64141);
  background-image: linear-gradient(to bottom, #f85959, #e64141);
  background-repeat: repeat-x;
  border-color: #e64141 #e64141 #c11919;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff85959', endColorstr='#ffe64141', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-weibo:hover,
.btn-weibo:focus,
.btn-weibo:active,
.btn-weibo.active,
.btn-weibo.disabled,
.btn-weibo[disabled] {
  color: #ffffff;
  background-color: #e64141;
  *background-color: #e32a2a;
}

.btn-weibo:active,
.btn-weibo.active {
  background-color: #d81c1c \9;
}

.btn-xing {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #155c5d;
  *background-color: #074c4d;
  background-image: -moz-linear-gradient(top, #1f6768, #074c4d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f6768), to(#074c4d));
  background-image: -webkit-linear-gradient(top, #1f6768, #074c4d);
  background-image: -o-linear-gradient(top, #1f6768, #074c4d);
  background-image: linear-gradient(to bottom, #1f6768, #074c4d);
  background-repeat: repeat-x;
  border-color: #074c4d #074c4d #010707;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f6768', endColorstr='#ff074c4d', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-xing:hover,
.btn-xing:focus,
.btn-xing:active,
.btn-xing.active,
.btn-xing.disabled,
.btn-xing[disabled] {
  color: #ffffff;
  background-color: #074c4d;
  *background-color: #053536;
}

.btn-xing:active,
.btn-xing.active {
  background-color: #031e1e \9;
}

.btn-youtube {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #a72121;
  *background-color: #6e0610;
  background-image: -moz-linear-gradient(top, #cd332d, #6e0610);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cd332d), to(#6e0610));
  background-image: -webkit-linear-gradient(top, #cd332d, #6e0610);
  background-image: -o-linear-gradient(top, #cd332d, #6e0610);
  background-image: linear-gradient(to bottom, #cd332d, #6e0610);
  background-repeat: repeat-x;
  border-color: #6e0610 #6e0610 #250205;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd332d', endColorstr='#ff6e0610', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-youtube:hover,
.btn-youtube:focus,
.btn-youtube:active,
.btn-youtube.active,
.btn-youtube.disabled,
.btn-youtube[disabled] {
  color: #ffffff;
  background-color: #6e0610;
  *background-color: #56050c;
}

.btn-youtube:active,
.btn-youtube.active {
  background-color: #3e0309 \9;
}
