`@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300");
.pay1_logo{
	padding:5px;
	margin-top:-17px;
}

.container {
	width: 100%;
	height:516px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
}
.whitebg{
background-color:#FFFFFF;
}
.test_tit{
color:#FFFFFF;
text-align:center;
font-size:3.3em;
margin-top:30px;
}
h4{
margin:0;
padding:0;
}

h4 a{
text-decoration:none;
color:#d72b28;
}

h4 a:hover{
text-decoration:none;
color:#CCCCCC;
}

#map-container{
    height: 500px;
    width: 500px;
}

.popular_thumtxt{
	text-align:center;
	font-family:OpenSans-Light;
	font-size:14px;
	width:auto;
	height:auto;
}

 .form-control{
 margin-bottom:10px;
 margin-top:10px;
 margin-left:10px;
 }

 .login_partner{
 margin-left:0px;
 margin-right:10px;
 }
.footerbg {
	  padding-right: 15px;
	  padding-left: 15px;
	  margin-right: auto;
	  margin-left: auto;
	  background-color:#CCCCCC;
}
footer{
	text-align:center;
	background-color:#212121;
	color:#dadada;
}
.row1{
	background-color:#e1e1e1;
}

.social li{
	display:inline-block;
	padding:5px;
}

.visacard{
	display:inline-block;
	padding:5px;
	list-style-type:none;
}

.formmenuul{
	display:inline-block;
	list-style-type:none;
}

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300");
@font-face {
	font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans-Light.ttf);

}
.amt-sty{
	font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size:24px;
}
.main_txt{
	font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size:3em;
  line-height: 1.2em;
  margin: 0 0 1em 0;
  display:inline-block;
  }
.list c {
    vertical-align: top;
}
.list c span:last-child {
    display: inline-block;
    vertical-align: top;
}
  .you_txt {
  font-family: 'Open Sans', sans-serif;
  /*font-weight: 700;*/
  font-size:1.5em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
  display:inline-block;
  width: 100%;
  }
  
  span.you_txt li
  {
    font-size: 20px;
	    line-height: 28px;
  }
   .testimonial_text
  {
  font-size:19px;
   width: 500px;
    text-align: left;
	  font-family: "Georgia",serif;
    font-style: italic;
  
  }
  ul.flex-direction-nav li
  {
  list-style:none;
  }
  
   @media (max-width: 768px) {
     .you_txt{
	font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size:2em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
  display:inline-block;
  }
  

   
   }
.main_toptxt{
padding-top:80px;
padding-left:80px;
  margin-top: 38px;

}
.imgtop{
padding-top:121px;
}
 @media (max-width: 768px) {
 .imgtop{
padding-top:10px;
}
 }
 @media (max-width: 768px) {
	.main_toptxt{
	padding-top:60px;
	padding-left:5px;
	}
	
	.main_txt{
	font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size:3em;
  display:inline-block;
  }
  
  
 
 }
  .pay1_txt{
  color:#18b491;
	font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  }
  .contact_title{
  	 			font-size: 3em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 1em;
			   color:#fff;
  
  }
  @media (max-width: 768px) {
   .contact_title{
  	 			font-size: 2em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 1em;
			   color:#fff;
  
  }
  }

.footer_text{
font-size:20px;
}
.bgfooter{
	background-color:#FFFFFF;
}
 @media (max-width: 768px) {
 .footer_text{
font-size:16px;
}
}

.clear {
	clear:both;
}
 .fre_txt_semibold{
	font-family: 'Open Sans', sans-serif;
	font-size:2em;
	color:#000;
	padding:20px 0;
	margin-left:150px;
}

@media (max-width: 768px) {
.fre_txt_semibold{
	font-family: 'Open Sans', sans-serif;
	font-size:1.6em;
	color:#000;
	padding:10px 0;
	margin-left:10px;
}
}
 

.signup_font_title{
	font-family: 'Open Sans', sans-serif;
 font-style: normal;
 font-weight: 300;
font-size:18px;
text-align:center;
margin-bottom:10px;
}
.bottomfb{
margin-bottom:30px;
}
.input_margin{
margin-top:15px;
margin-bottom:15px;

}
.rightborder{

  border-right-width:1px;
  border-right-style:solid;
  border-right-color:#c2c2c2;
  padding:0 30px;
  }
  .login_fb{
width:100%;
margin:15px 0;
}
	.partner_title_txt{
	font-family: 'Open Sans', sans-serif;
	font-size:2em;
	color:#000;
	padding:20px 0;
	padding-bottom:50px;
	text-align:center;
	
	}
	 @media (max-width: 768px) {
	 .partner_title_txt{
	font-family: 'Open Sans', sans-serif;
	font-size:1.6em;
	color:#000;
	padding:20px 0;
	padding-bottom:50px;
	text-align:center;
	
	}
	 }
 	.feat_tit{
	font-family: 'Open Sans', sans-serif;
	font-size:40px;
	color:#000;
	padding:30px 0;

	text-align:center;
	}
			 @media (max-width: 768px) {
			  	.feat_tit{
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	color:#000;
	padding:10px 0;

	text-align:center;
	}
			 }
	 .btn-site {
  color: #fff;
  background-color: #18b491;
  border-color: #46b8da;
}
.btn_pad{
padding:1em 0;

}
.testimonials{
margin-top:0px;
background-color:#f2f2f2;
padding:20px 0;
}
 @media (max-width: 768px) {
 .testimonials{
margin-top:0px;
background-color:#f2f2f2;
padding:0px 0;
}
 }
.features{
margin-top:0px;
background-color:#f2f2f2;
font-family: 'Open Sans', sans-serif;
padding:20px 0;
}
@media (max-width: 768px) {
.features{
margin-top:0px;
background-color:#f2f2f2;
font-family: 'Open Sans', sans-serif;
padding:5px 0;
}
}
.testimonials-author-name{
font-style:normal;
font-size:1.5em;

font-variant:small-caps;

}
.testimonials-author-desc{
font-style:italic;
font-size:0.9em;

}
.p_testimon{
margin-right:80px;
padding-left:80px;
}
@media only screen and (min-width: 768px) {
.p_testimon{
margin-right:20px;
padding-left:20px;
}
}
.testimonials-author-description{
font-size:1em;
font-style:italic;
}
.dload{
color:#FFFFFF;
margin:5px 5px;
}

.dloadpay1{
color:#d27a27;
padding:15px 0 10px 10px;
margin-right:20px;
}
.homebtn{
color:#d27a27;
padding:15px 0 10px 10px;
margin-right:10px;
}
 @media (max-width: 768px) {
 .dloadpay1{
color:#FFFFFF;
padding:10px 0 10px 10px;
margin-right:20px;
}
.homebtn{
color:#d27a27;
padding:15px 0 10px 10px;
margin-right:10px;
}
 
 }
 .knowmore{

 padding:0;
 }
		.btn-main {
			-webkit-appearance: none;
			position: relative;
			display: inline-block;
			background: #ed1c24;
			padding: 0.65em 1.5em 0.65em 1.5em;
			border-radius: 0.25em;
			cursor: pointer;
			border: 1px solid #fff;
			color: #fff;
			text-align: center;
			text-decoration: none;
			-moz-transition: all 0.25s ease-in-out;
			-webkit-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
		}
		.btn-main:hover {
			background-color:#ffffff;
			border:1px solid #ed1c24;
			color:#ed1c24;
		}

		.btn-home-rev {
			-webkit-appearance: none;
			position: relative;
			display: inline-block;
			background: #fff;
			padding: 0.65em 1.5em 0.65em 1.5em;
			border-radius: 0.25em;
			cursor: pointer;
			border: 1px solid #ed1c24;
			color: #ed1c24;
			text-align: center;
			text-decoration: none;
			-moz-transition: all 0.25s ease-in-out;
			-webkit-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
		}
		.btn-home-rev:hover {
			background-color:#fff;
			border:1px solid #ed1c24;
			color:#ed1c24;
			text-decoration: underline;
		}
		
		 @media (max-width: 768px) {
	.btn-main {
			-webkit-appearance: none;
			position: relative;
			display: inline-block;
			background: #fff;
			padding: 0.25em 0.50 0.25em 0.50em;
			border-radius: 0.20em;
			cursor: pointer;
			border: 1px solid #18b491;
			color: #18b491;
			margin-top:-40px;
			text-align: center;
			text-decoration: none;
			-moz-transition: all 0.25s ease-in-out;
			-webkit-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
		}
		.btn-main:hover {
			background-color:#18b491;
			color:#fff;
		}

 }


.btn-site:hover,
.btn-site:focus,
.btn-site:active,
.btn-site.active,
.open > .dropdown-toggle.btn-site {
  color: #fff;
  background-color: #18b491;
  border-color: #fff;
}
.btn-site:active,
.btn-site.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-site.disabled,
.btn-site[disabled],
fieldset[disabled] .btn-site,
.btn-site.disabled:hover,
.btn-site[disabled]:hover,
fieldset[disabled] .btn-site:hover,
.btn-site.disabled:focus,
.btn-site[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-site.disabled:active,
.btn-site[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-site.disabled.active,
.btn-site[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #18b491;
  border-color: #fff;
}
.btn-site .badge {
  color: #5bc0de;
  background-color: #fff;
}


.btn-win {
  color: #333;
  background-color: #18b491;
  border-color: #fff;
}
.btn-win:hover,
.btn-win:focus,
.btn-win:active,
.btn-win.active,
.open > .dropdown-toggle.btn-win {
  color: #333;
  background-color:#18b491;
  border-color: #fff;
}
.btn-win:active,
.btn-win.active,
.open > .dropdown-toggle.btn-win {
  background-image: none;
}
.btn-win.disabled,
.btn-win[disabled],
fieldset[disabled] .btn-win,
.btn-win.disabled:hover,
.btn-win[disabled]:hover,
fieldset[disabled] .btn-win:hover,
.btn-win.disabled:focus,
.btn-win[disabled]:focus,
fieldset[disabled] .btn-win:focus,
.btn-win.disabled:active,
.btn-win[disabled]:active,
fieldset[disabled] .btn-win:active,
.btn-win.disabled.active,
.btn-win[disabled].active,
fieldset[disabled] .btn-win.active {
  background-color: #18b491;
  border-color: #fff;
}
 .btn-win .badge {
   color: #fff;
   background-color: #18b491;
}


  

  
    .greenbg{	
    background-color:#18b491;
    padding-top:50px;
    padding-bottom:80px;
  }
   @media (max-width: 768px) {
	  .greenbg{	
	   background-color:#18b491;
	   padding-top:30px;
	   padding-bottom:10px;
	  }
  }
  

  
  .how_title{
  	           font-size: 4em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 30px;
			   color:#fff;
			   padding-left:30px;
			   padding-right:30px;
			    height: 100px;
  }
   @media (max-width: 768px) {
   .how_title{
  	           font-size: 2em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   padding-left:10px;
			   padding-right:10px;
  }
 
   }
  
    .excitement_txt{
  	           font-size:1.5em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   margin: 1em 0 1em 0;
			   padding: 0 120px;
			   line-height:2em;
		
  }
   @media (max-width: 768px) {
   
   
    .excitement_txt{
  	           font-size:1em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   margin:0;
			   padding: 0 30px 40px 40px;
			   line-height:2em;
		
  }
   
   }
  
  .how_txt{
  	           font-size:2em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   margin: 2em 0 0 0;
			   padding: 0 260px;
			   line-height:2em;
		
  }
  @media (max-width: 768px) {
   
  .how_txt{
  	           font-size:1.5em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	  
			   color:#fff;
			   margin: 1em 0 0 0;
			   padding: 0 0 5px 5px;
			   line-height:1.5em;
		
  }
  }
      .howicon_txt{
  	           font-size:2em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   margin:0;
			   padding: 20px 0 0 0;
		
  }
   @media (max-width: 768px) {
   	 .howicon_txt{
  	           font-size:1.8em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   margin:0;
			   padding: 0;
		
  }
   }
  .ic{
  text-align:center;
  }
  .freegift_im{
  display:inline-block;
  }
  .freegift_center{
  text-align:center;
  }
  .howmain{
  padding-top:5em;
  }
      .how_title_black1{
  	           font-size: 3em;
			   	font-family: 'Open Sans', sans-serif;
			   font-weight:400;
			   text-align:center;
			   display:block;
	           margin-top: 50px;
			   color:#000;
  }
    @media (max-width: 768px) {
	    .how_title_black1{
  	           font-size: 2em;
			   font-weight:400;
			   text-align:center;
			   display:block;
				 margin-top: 20px;
			   color:#000;
  }
	}
  .freetop{
  margin-top:2em;
  }
    .how_title_black{
  	           font-size: 3em;
			   font-weight:400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#000;
  }
    @media (max-width: 768px) {
	    .how_title_black{
  	           font-size: 2em;
			   font-weight:400;
			   text-align:center;
			   display:block;

			   color:#000;
  }
	}
      .howsafe_title_black{
  	           font-size: 3em;
	           font-weight: 400;
			   text-align:left;
			   display:block;
			   color:#000;
  }
  @media (max-width: 768px) {
   .howsafe_title_black{
  	           font-size: 2em;
	           font-weight: 400;
			   text-align:left;
			   display:block;
			   color:#000;
  }
  }
    .how_txt_black{
  	           font-size:1.7em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
			   line-height:2em;
	           margin-bottom: 0;
			   color:#000;
			   margin: 2em 0 0 0;
			    padding: 0 150px;
		
  }
    @media (max-width: 768px) {
	 
    .how_txt_black{
  	           font-size:1em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
			   color:#000;
			   margin: 1em 0 0 0;
			    padding: 0 5px;
		
  }
	
	}
  
      .how_txtsm_black{
  	           font-size:1.5em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
			   line-height:2em;
	           margin-bottom: 0;
			   color:#000;
			   margin: 2em 0 2em 0;
			  padding: 0 180px;
			  color:#34495e;
  }
  .imgbottom{
  margin-bottom:3em;
  }
  @media (max-width: 768px) {
  .imgbottom{
  margin-bottom:1em;
  }
  }
   @media (max-width: 768px) {
     .howmain{
  padding-top:2em;
  }
     .how_txtsm_black{
  	           font-size:1em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#000;
			   margin: 0em 0 1em 0;
			     padding: 0 40px;
				 color:#34495e;
  }

      .how_txt_black{
  	           font-size:1.25em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#000;
			   margin: 1em 0 0 0;
				padding: 0 20px;
		
  }
   }
  
  .ssl_img{
  text-align:center;
  padding:20px 0;
  }
  
  .howsafe{
  padding:140px 0 0 30px;
  text-align:left;
  }
   @media (max-width: 768px) {
     .howsafe{
  padding:10px 0 0 10px;
  text-align:left;
  }
 

   }
   
   
     	.footer_img
	{
		position: relative;
		margin: 0;
		width:100%;
		height:305px;
		background-image:url(../img/footer_bg.jpg);
		background-size:			cover;
		background-position:		center center;
		background-repeat:			no-repeat;
		padding: 2em 0 0 0;
		text-align: center;
		color: #fff;
	}
	.social_top{
	padding-top:1em;
	}
	.row80{
		width:90%;
		text-align:center;
		margin-left:5%;
		margin-right:5%;
		background-color:#00626b;
		}
		
		.stat_in_rg{
		background-color:#7d95bd;
		color:#FFFFFF;
		  font-size:2.5em;
	      font-weight: 400;
		  text-align:center;
		  display:block;
		  color:#fff;
		  margin: 0;
		  padding: 20px 20px;
		  line-height:2.8em;
		}
				.stat_in_daily{
		background-color:#5272a9;
		color:#FFFFFF;
		  font-size:2.5em;
	      font-weight: 400;
		  text-align:center;
		  display:block;
		  color:#fff;
		  margin: 0;
		  padding: 20px 20px;
		  line-height:2.8em;
		}
				.stat_in_shipments{
		background-color:#3d5d93;
		color:#FFFFFF;
		  font-size:2.5em;
	      font-weight: 400;
		  text-align:center;
		  display:block;
		  color:#fff;
		  margin: 0;
		  padding: 20px 20px;
		  line-height:2.8em;
		}
						.stat_in_new{
		background-color:#36578d;
		color:#FFFFFF;
		  font-size:2.5em;
	      font-weight: 400;
		  text-align:center;
		  display:block;
		  color:#fff;
		  margin: 0;
		  padding: 20px 20px;
		  line-height:2.8em;
		}
		.reg_txt{
		
		  color:#FFFFFF;
		  font-size:0.7em;
	      font-weight: 300;
		  text-align:center;
		  display:block;
		  color:#fff;
		  margin: 0;	
		  line-height:1.2em;
		}
		
	.stat_bg{
	background-color:#00496b;
	}
	.hrsty{
	width:80%;
	margin-top:1em;
	}
	 @media (max-width: 768px) {
	 .hrsty{
	width:80%;
	margin-top:1em;
	}
	 
	 }
		 @media (max-width: 768px) {
	.social_top{
	padding-top:1em;
	}	 
	 }
	
	 @media (max-width: 768px) {
	.social_top{
	padding-top:80px;
	}	 
	 }
	   @media (max-width: 768px) {
	    	.footer_img
	{
		position: relative;
		margin: 0;
		width:100%;
		height:100%;
		background-image:url(../img/footer_bg.jpg);
		background-size:			cover;
		background-position:		center center;
		background-repeat:			no-repeat;
		padding: 1em 0 0 0;
		text-align: center;
		color: #fff;
	}
	   
}
.pay1footer{
padding-bottom:2em;
}
       .howsafe_text_black{
  	           font-size: 1.375em;
	           font-weight: 400;
			   text-align:left;
			   line-height:2em;
			   display:block;
	           padding:1em 14em 0 0;
			   color:#000;
  }
    @media (max-width: 768px) {
	 .howsafe_text_black{
  	           font-size: 1em;
	           font-weight: 400;
			   text-align:left;
			   line-height:1.5em;
			   display:block;
	           padding:1em 1em 1em 0;
			   color:#000;
  }
	}
  .bluebg{
  background-color:#1f91d7;
  text-align:center;
  padding-top:60px;
  padding-bottom:20px;
  }
    @media (max-width: 768px) {
	  .bluebg{
  background-color:#1f91d7;
  text-align:center;
  padding-top:30px;
  padding-bottom:10px;
  }
	}
	.becomepart{
		padding-left:20px;
		padding-bottom:50px;
	}
	.becomepart_rt{
	padding-right:20px;
	margin:0;
	}
	.bottomrow{
	margin-bottom:4em;
	}
	.topspace{
	margin-top:4em;
	}
	@media (max-width: 768px) {
	.becomepart{
		padding-left:20px;
		padding-right:20px;
	}
		.becomepart_rt{
	padding-right:20px;
	padding-left:20px;
	margin:0;
	}
	}
  .pay1_opt{
          font-size:1.5em;
	           font-weight: 400;
			   text-align:center;
			   color:#fff;
			   display:block;
				padding-bottom: 20px;
  }
    .pay1_opt_txt{
          font-size:1.2em;
	           font-weight: 400;
			   text-align:center;
			   line-height:2em;
			   color:#fff;
			   display:block;
			   padding: 0;
  }
  @media (max-width: 768px) {
.pay1_opt{
          font-size:1.250em;
	           font-weight: 400;
			   text-align:center;
			   color:#fff;
			   display:block;
				padding-bottom: 5px;
  }
    .pay1_opt_txt{
         	   font-size:1em;
	           font-weight: 400;
			   text-align:center;
			   line-height:1.2em;
			   color:#fff;
			   display:block;
			   padding: 0;
  }
}
.redeembar{
	padding-top:10px;
}
.howdoes_img{

  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
  padding: 2px;
  line-height: 1.42857143;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;		  
		  }
		    @media (max-width: 768px) {
			.howdoes_img{
.img-center {
    display: block;
    margin: 0 auto;
}



/* -------------------------------- 

Primary style

-------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Helvetica Neue", sans-serif;
  color: #39393c;
  background-color: #dadee1;
}

a {
  color: #79b6e4;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-testimonials-wrapper {
  position: relative;
  width: 90%;
  max-width: 768px;
  background-color: #39393c;
  margin: 2em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px 70px;
  z-index: 1;
}
.cd-testimonials-wrapper::after {
  /* quotation mark */
  content: '\201C';
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px;
  height: 50px;
  padding-top: 8px;
  margin-left: -25px;
  background: rgba(32, 32, 34, 0.9);
  font-family: "Georgia", serif;
  color: #ffffff;
  font-size: 70px;
  font-size: 4.375rem;
  text-align: center;
  /* visible on big devices only */
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-testimonials-wrapper {
    margin: 4em auto;
    padding: 64px 50px 114px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials-wrapper::after {
    /* quotation mark visible */
    display: block;
  }
}

.cd-testimonials {
  color: #ffffff;
  text-align: center;
}
.cd-testimonials::after {
  clear: both;
  content: "";
  display: table;
}
.cd-testimonials > li {
  position: absolute;
  opacity: 0;
}
.cd-testimonials > li:first-child {
  position: relative;
  opacity: 1;
}
.cd-testimonials p {
  font-family: "Georgia", serif;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 1em;
  padding: 0 14px;
}
@media only screen and (min-width: 768px) {
  .cd-testimonials p {
    font-size: 22px;
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials p {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.6;
  }
}

/* testimonials starts here */
.cd-author img, .cd-author .cd-author-info {
  display: inline-block;
  vertical-align: middle;
}
.cd-author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.cd-author .cd-author-info {
  text-align: left;
  line-height: 1.2;
}
.cd-author .cd-author-info li:first-child {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-author .cd-author-info li:last-child {
  font-size: 12px;
  font-size: 0.75rem;
  color: #6b6b70;
}
@media only screen and (min-width: 768px) {
  .cd-author img {
    width: 50px;
    height: 50px;
  }
  .cd-author .cd-author-info {
    line-height: 1.4;
  }
  .cd-author .cd-author-info li:first-child {
    font-size: 16px;
    font-size: 1em;
  }
  .cd-author .cd-author-info li:last-child {
    font-size: 14px;
    font-size: 0.87em;
  }
}

.flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
}
.flex-direction-nav li:first-child {
  left: 0;
}
.flex-direction-nav li:last-child {
  right: 0;
}
.flex-direction-nav li a {
  display: block;
  height: 100%;
  width: 100%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.no-touch .flex-direction-nav li a:hover {
  background-color: #323234;
}
.flex-direction-nav li a::before, .flex-direction-nav li a::after {
  /* left and right arrows in css only */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 13px;
  background-color: #ffffff;
}
.flex-direction-nav li a::before {
  -webkit-transform: translateY(-35px) rotate(45deg);
  -moz-transform: translateY(-35px) rotate(45deg);
  -ms-transform: translateY(-35px) rotate(45deg);
  -o-transform: translateY(-35px) rotate(45deg);
  transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after {
  -webkit-transform: translateY(-27px) rotate(-45deg);
  -moz-transform: translateY(-27px) rotate(-45deg);
  -ms-transform: translateY(-27px) rotate(-45deg);
  -o-transform: translateY(-27px) rotate(-45deg);
  transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before {
  -webkit-transform: translateY(-35px) rotate(-45deg);
  -moz-transform: translateY(-35px) rotate(-45deg);
  -ms-transform: translateY(-35px) rotate(-45deg);
  -o-transform: translateY(-35px) rotate(-45deg);
  transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after {
  -webkit-transform: translateY(-27px) rotate(45deg);
  -moz-transform: translateY(-27px) rotate(45deg);
  -ms-transform: translateY(-27px) rotate(45deg);
  -o-transform: translateY(-27px) rotate(45deg);
  transform: translateY(-27px) rotate(45deg);
}
@media only screen and (min-width: 768px) {
  .flex-direction-nav li {
    width: 50px;
  }
}
@media only screen and (min-width: 1170px) {
  .flex-direction-nav li a::before, .flex-direction-nav li a::after {
    background-color: #5e5e63;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
    background-color: #ffffff;
  }
}

.cd-see-all {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #252527;
  text-align: center;
  text-transform: uppercase;
  color: #6b6b70;
  font-weight: 700;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  transition: color, 0.2s;
}
.no-touch .cd-see-all:hover {
  color: #79b6e4;
}

.cd-testimonials-all {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-testimonials-all .cd-testimonials-all-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul {
  width: 90%;
  max-width: 1170px;
  margin: 4em auto;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul::after {
  clear: both;
  content: "";
  display: table;
}
.cd-testimonials-all .cd-testimonials-item {
  margin-bottom: 2em;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0) scale(0.4);
  -moz-transform: translate3d(0, 0, 0) scale(0.4);
  -ms-transform: translate3d(0, 0, 0) scale(0.4);
  -o-transform: translate3d(0, 0, 0) scale(0.4);
  transform: translate3d(0, 0, 0) scale(0.4);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  -moz-transition: -moz-transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s;
}
.cd-testimonials-all p {
  position: relative;
  background: #79b6e4;
  color: #ffffff;
  padding: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  border-radius: 0.25em;
  margin-bottom: 1em;
}
.cd-testimonials-all p::after {
  /* creating the triangle in css */
  content: '';
  position: absolute;
  top: 100%;
  left: 2em;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-top-color: #79b6e4;
}
.cd-testimonials-all .cd-author {
  text-align: left;
  margin-left: 1.5em;
}
.cd-testimonials-all .cd-author img {
  box-shadow: 0 0 0 transparent;
}
.cd-testimonials-all.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-testimonials-all.is-visible .cd-testimonials-all-wrapper {
  -webkit-overflow-scrolling: touch;
}
.cd-testimonials-all.is-visible .cd-testimonials-item {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
@media only screen and (min-width: 768px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 46%;
    margin: 0 2% 3em;
  }
  .cd-testimonials-all .cd-author {
    margin-left: 1em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 30%;
    margin: 0 1.6666% 3em;
  }
}

.close-btn {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 5%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.close-btn::before, .close-btn::after {
  /* close icon in css */
  content: '';
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 24px;
  top: 8px;
  left: 19px;
  background-color: #39393c;
}

.close-btn::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-btn::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

  /* testimonials ends here */
  .listen{
  color:#FFFFFF;
  }
  .listen:hover{
  color:#CCCCCC;
  }
 
  